@import "../../../styles";

.title {
  font-size: 18px;
  margin: 15px;
  width: 100%;
}

.alert {
  margin: 15px;

}

.card {
  display: inline-block;
  width: 50%;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

i { 
  cursor: pointer;
  float: right;
  margin-right: 30px;
}