<div class="row">
  <div class="col-sm">
    <div class="card tasks" [class.dashboard-small-card]="dashboard">
      <div class="title">Tarefas pendentes</div>
      <div class="tasks-body">
        <app-task></app-task>
        <app-task></app-task>
        <app-task></app-task>
        <app-task></app-task>
        <app-task></app-task>
      </div>

    </div>
  </div>
  <div class="col-sm" *ngIf="!dashboard">
    <div class="card tasks">
      <div class="title">Tarefas pendentes</div>
      <div class="tasks-body">
        <app-task></app-task>
        <app-task></app-task>
        <app-task></app-task>
        <app-task></app-task>
        <app-task></app-task>
      </div>
    </div>
  </div>
</div>
