@import "../../styles";

app-task {

}

.tabs {
  margin-top:-19px;
  background-color: $white;
}

.tabs li a {
  color: $default-color;
  border-bottom-color: default-color;
}

.tasks {
  margin-top:-15px;
}

.notification {
  margin-top:-15px;
}

progress  {
  border-radius: 0px;
  margin-top:-7px;
}

progress::-webkit-progress-value {
  background: $default-color;
}

.notification {
  text-align: center;
  font-size:14px;
  border-radius: 0px;
}
