app-task {

}

.tabs {
  background: #fff;
  margin-top:-19px;
}

.tasks {
  margin-top:-15px;
}

progress {
  border-radius: 0px;
  margin-top:-7px;
}

.notification {
  text-align: center;
  font-size:14px;
  border-radius: 0px;
}
