@import "../../../styles";

.title {
  font-size: 18px;
  margin: 15px;
}

.alert {
  margin: 15px;
  margin-top: 0;
}

select {   
  background: transparent;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid $light-grey;
  float: right;
  font-size: 11px;
}