<div class="box content">
  <h2 *ngIf="!editForm">Adicionar tarefa</h2>
  <h2 *ngIf="editForm">Editar tarefa</h2>
  <label class="label">Título</label>
  <p class="control">
    <input [(ngModel)]="task.title" class="input" type="text" placeholder="Título">
  </p>

  <label class="label">Descrição</label>
  <p class="control">
    <textarea [(ngModel)]="task.description" class="textarea" placeholder="Descrição"></textarea>
  </p>

  <label class="label">Data e hora</label>
  <p class="control">
    <input [(ngModel)]="task.timestamp" ng2-datetime-picker
       date-format="DD/MM/YYYY HH:mm"
       hour="23"
       minute='59'
       close-on-select="false" width="auto" placeholder="Selecione a data e a hora" class="input"/>
  </p>
  <label class="label">Prioridade</label>
  <p class="control">
    <span class="select">
      <select [(ngModel)]="task.priority">
        <option value="normal" selected="selected">Normal</option>
        <option value="important">Importante</option>
      </select>
    </span>

    <label class="checkbox">
      <input [(ngModel)]="task.done" type="checkbox">
      Terminada
    </label>
  </p>
  <p class="control">
    <button *ngIf="!editForm" (click)="addTask()" class="button is-primary">Adicionar</button>
    <button *ngIf="editForm" (click)="saveTask()" class="button is-primary">Salvar</button>

  <button (click)="toggleEditForm()" class="button">Cancelar</button>
  </p>
</div>
