<div class="sidebar">
  <div class="sidebar-header">
    <div class="profile-pic"><img src="../../assets/avatar.png" class="avatar rounded-circle"/></div>
    <div class="name">{{user.firstName + " " + user.lastName}}</div>
  </div>
    <div class="overview">
      <ul class="menu">
        <li class="menu-item">
          <a href="/dashboard">Tarefas <span *ngIf="this.sidebarService.pendentTasksCount != 0" class="count">{{ this.sidebarService.pendentTasksCount }}</span></a>
        </li>
        <li class="menu-item">
          <a (click)="toggleCategories()">Categorias</a>
          <ul class="submenu" *ngIf="showCategories">
            <li *ngFor="let category of this.sidebarService.categories" class="menu-item">
              <a href="/tasks?category={{ category }}">{{ category }}</a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="/lists">Listas de Tarefas</a>
        </li>
        <li class="menu-item">
          <a href="#" (click)="logout()">Logout</a>
        </li>
        <li class="menu-item">
          <a href="/contact">Sobre o aplicativo</a>
        </li>
      </ul>
    </div>
</div>
