@import "../../styles";

.card {
  font-size: 0.8rem;
  border: none;
  width: 100%;
  margin-bottom: 5px;
}

.avatar {
  width: 100px;
  box-shadow: 0px 0px 10px $medium-grey;
  align-self: center;
  margin: 10px;
}

.name {
  border-bottom: 1px solid $light-red;
  width: 90%;
  text-align: center;
  align-self: center;
  padding: 5px;
  font-size: 16px;
  color: $light-red;

}

.list-group-item {
  padding: 10px;
}

.list-group {
  margin: 10px;
}



@media screen and (min-width: 990px) {
    .card {
      box-shadow: 0px 0px 5px $light-grey;
    }


}
