@import "../../../styles";
.tasks {}

.title {
  font-size: 18px;
}

.btn {
  margin: 10px;
  background: transparent;
  padding: 0;
  font-size: 15px;
  text-transform: uppercase;
  color: $medium-blue;  
  font-weight: bolder;
  float: right;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.card {
  padding: 15px;
  display: inline-block;
}

.tasks {
    height: 360px;
    overflow-y: scroll;
}

input {
    margin: 10px 0;
    border: none;
}

.task-item {
    width: calc(100% - 30px);
    display: inline-block;
}

.list-title {
    width: 100%;
}

.checkbox-space {
    height: 85px;
    width: 20px;
    vertical-align: bottom;
    display: inline-block;
}