

.date {
  margin:10px;
}

.card-content {
  padding:10px;
}

.warning {
  background-color: #fafca4;
}

.warning a {
  color:#04919b;
}

.wrapper {
  position:relative;
  margin-bottom:5px;
}

.card-img {
  width:100%;
}

.card-footer {
  font-size:12px;

}

.ficon {
  font-size:16px;
  margin:3px;
  margin-top:0px;
}

app-task-form {
  position:fixed;
  top:65px;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow-y: auto;
}
