@import "../../styles";

app-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 70px;
  width: 270px;
  height: 100vh;
  z-index: 999;
  box-shadow: 0px 0px 2px $medium-grey;
}

.page {
  margin-top: 80px;
  padding-left: 290px;
  padding-right: 20px;
  width: 100vw;

}


.container {
  padding-top: 10px;
  padding-left: 290px;
  height: 250vh;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 991px) {
    .page {
      padding-left: 20px;
    }

    app-sidebar {
      left: -275px;
    }

}
