@import "../../styles";

app-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 70px;
  width: 270px;
  height: 100vh;
  z-index: 999;
  box-shadow: 0px 0px 2px $medium-grey;
}

.page {
  position:relative;
  margin-top: 90px;
  padding-left: 290px;
  width: 100vw;

}



@media screen and (max-width: 991px) {
    .page {
      padding-left: 20px;
    }

    app-sidebar {
      left: -275px;
    }

}
