@import "../../styles";

app-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 70px;
  height: 100vh;
  z-index: 999;
  box-shadow: 0px 0px 2px $medium-grey;
}

app-navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999999999999999999999;
}

.page {
  position:absolute;
  margin-top: 90px;
  left: 0;

}


@media screen and (min-width: 1367px) {

    .page {
      left: 18vw;
      width: 80vw;

    }

    app-sidebar {
      box-shadow: 0px 0px 10px $dark-grey;
      width:18vw;
    }

}

@media screen and (max-width: 1366px) {

    .page {
      left: 25vw;
      width: 74vw;
    }

    app-sidebar {
      box-shadow: 0px 0px 10px $dark-grey;
      width:25vw;
    }

}


@media screen and (max-width: 992px) {

    .page {
      width: 100vw;
      left: 0;
    }

    app-sidebar {
      box-shadow: 0px 0px 10px $dark-grey;
      width:30vw;
    }

}

@media screen and (max-width: 576px) {

    .page {
      width: 100vw;
      left: 0;
    }

    app-sidebar {
      box-shadow: 0px 0px 10px $dark-grey;
      width:70vw;
    }

}
