@import "../../../styles";

.nav-item a {
  border-radius: .25rem;
  padding: 10px;
}

.task-header, .task-footer {
  background: transparent;
  vertical-align: middle;

}

.task-header ul, .task-footer ul {
  margin: 0;
}

.task-title {
  font-size: 16px;
  text-align: left;
}

.card {
  font-size: 0.7rem;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 5px $light-grey;
  width: 100%;
  margin-bottom: 5px;
  border-left: 5px solid $medium-blue;
}

.task-footer i {
  font-size: 15px;
  margin: 3px;
}

.task-footer i .text {
  font-size: 12px;
  margin: 0 5px;
}

ul {
  padding: 0;
  padding-left: 20px;
}

li {
  padding: 0;
  padding-left: 5px;
}

.card {
  font-size: 12px;
}

.subtask-done-description {
  text-decoration: line-through;
}

.add-subtask {
  margin-left: 3px;
}


i {
  cursor: pointer;
}

input, textarea {
  border: none;
  padding: 0;
}

textarea {
  font-size: 12px;
}

input {
  width: 80%;
}

.subtask label, .subtask input {
  display: inline-block;
  vertical-align: middle;
}

.subtask input {
  margin-top: -5px;
}

.subtask {
  height: 18px;
}
