@import "../../../styles";

a {
  color:$black;
}

.is-warning {
  margin-top:7px;
  margin-left:7px;
  color:$white;
  background-color: $warning-color;
}

.date {
  margin:10px;
}

.card-content {
  padding:10px;
}

.card-header .fa {
  color: $grey;
}


.wrapper {
  position:relative;
  margin-bottom:5px;
}

.card-img {
  width:100%;
}

.card-footer-item {
  font-size:12px;
  color:$grey;


}



.ficon {
  font-size:16px;
  margin:3px;
  margin-top:0px;
}

app-task-form {
  position:fixed;
  top:65px;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto;
}
