@import "../../../styles";

.nav-item a {
  border-radius: .25rem;
  padding: 10px;
}

.task-header, .task-footer {
  background: transparent;
  vertical-align: middle;

}

.task-header ul, .task-footer ul {
  margin: 0;
}

.task-title {
  font-size: 16px;
  text-align: left;
}

.card {
  font-size: 0.7rem;
  padding: 10px;
  border: none;
  width: 100%;
  margin-bottom: 5px;
  border-left: 5px solid $medium-blue;
}

.task-footer i {
  font-size: 15px;
  margin: 3px;
}

.task-footer i .text {
  font-size: 12px;
  margin: 0 5px;
}

ul {
  padding: 0;
  padding-left: 20px;
}

li {
  padding: 0;
  padding-left: 5px;
}

.card {
  font-size: 12px;
}

.subtask-done-description {
  text-decoration: line-through;
}

.add-subtask {
  margin-left: 3px;
}


i {
  cursor: pointer;
}

input, textarea {
  border: none;
  padding: 0;
}

textarea {
  font-size: 12px;
}

input {
  width: 80%;
}

.subtask label, .subtask input {
  display: inline-block;
  vertical-align: middle;
}

.subtask input {
  margin-top: -5px;
}

.subtask {
  height: 18px;
}

.category {
  padding: 5px;
  border-radius: 2px;
  background: $medium-blue;
  color: $white;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;

}

.task-category, .task-category::placeholder {
  width: 60px;
  color: $white;
  overflow-x: visible;
  background: transparent;
}

.priority-selector {
  background: transparent;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid $light-grey;
}

.list {
  font-size: 10px;
  padding: 3px;
  background-color: $light-grey;
  border-radius: 2px;
}

.lists-title {
  margin-left: 3px;
}

.fa.fa-list {
  margin-right: 3px;
}