<div class="ui card">
  <div class="content">
    <i class="right floated trash icon"></i>
    <i class="right floated star icon"></i>
    <div class="header"><p contenteditable="true">Cute Dog</p></div>
    <div class="description">
      <p contenteditable="true">Descrição</p>
    </div>
  </div>
  <div class="extra content">
    <span class="left floated like">
      <i class="checkmark icon"></i>
      Mark as done
    </span>
    <span class="right floated calendar">
      <i class="calendar icon"></i>
      22/12/2016
    </span>
  </div>
</div>
