<div class="card rounded-0" [style.borderLeft]="getTaskBorder()">
  <div class="task-header">
    <input class="task-title" contenteditable="true" [(ngModel)]="task.title" placeholder="Adicionar título" (keyup.enter)="edit()" (focusout)="edit()" />
    <div class="category" (click)="switchCategoryEditor()"><i class="fa fa-tags" aria-hidden="true"></i>
      <input class="task-category" contenteditable="true" *ngIf="showEditCategory" [(ngModel)]="task.category" placeholder="Categoria" (keyup.enter)="editCategory()" (focusout)="editCategory()" />
      <span *ngIf="!showEditCategory" class="task-category">{{ task.category }}</span>
    </div>
  </div>
  <div class="task-description">
    <textarea onkeyup="autoGrowTextArea(this)" rows="1" [(ngModel)]="task.description" class="form-control card-text" type="textarea" id="message" name="description" placeholder="Adicionar descrição" (keyup.enter)="edit()" (focusout)="edit()" ></textarea>
  </div>
  <div class="task-subtasks">
      <div class="subtask" *ngFor="let subtask of task.subtasks">
        <label for="subtask"><i *ngIf="!subtask.done" class="fa fa-check" aria-hidden="true" (click)="switchSubtaskDone(subtask)"></i>
          <i *ngIf="subtask.done" class="fa fa-undo" aria-hidden="true" (click)="switchSubtaskDone(subtask)"></i>
          <i class="fa fa-times" aria-hidden="true" (click)="deleteSubtask(subtask)"></i>
        </label>
        <input [(ngModel)]="subtask.description" name="subtask" [class.subtask-done-description]="subtask.done" (keyup.enter)="edit()" (focusout)="edit()" placeholder="Editar descrição" />
      </div>
      <i class="fa fa-plus-circle" aria-hidden="true" (click)="addSubtask()"><span class="add-subtask">Adicionar subtarefa</span></i>
  </div>
  <div class="task-footer">
      <i *ngIf="!task.done" class="fa fa-check" aria-hidden="true" (click)="switchDone()"></i>
      <i *ngIf="task.done" class="fa fa-undo" aria-hidden="true" (click)="switchDone()"></i>
      <i class="fa fa-times" aria-hidden="true" (click)="deleteTask()"></i>
      <i class="fa fa-calendar" aria-hidden="true"><span class="text">{{ task.timestamp | date }}</span></i>
      <i class="fa fa-clock-o" aria-hidden="true"><span class="text">{{ task.timestamp | date:'shortTime' }}</span></i>
      <span class="text"> Prioridade: </span><select [(ngModel)]="task.priority" (change)="edit()" class="priority-selector">
        <option value="NORMAL">Normal</option>
        <option value="LOW">Baixa</option>
        <option value="HIGH">Alta</option>
      </select>

  </div>
</div>
