@import "../../../styles";

.nav-item a {
  border-radius: .25rem;
  padding: 10px;
}

.task-header, .task-footer {
  background: transparent;
  vertical-align: middle;

}

.task-header ul, .task-footer ul {
  margin: 0;
}

.task-title {
  font-size: 16px;
  text-align: left;
}

.card {
  font-size: 0.7rem;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 5px $light-grey;
  width: 100%;
  margin-bottom: 5px;
  border-left: 5px solid $medium-blue;
}
