@import "../../styles";

nav {
  background: $medium-blue;
  box-shadow: 0px 0px 5px $light-grey;
  font-family: 'Montserrat', sans-serif;
  height: 70px;
  box-shadow: 0px 0px 10px $dark-grey;
}

nav a {
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

nav a:hover {
  color: $white;
}


@media screen and (min-width: 990px) {
    app-sidebar {
      display: none;
    }


}

.navbar-toggler {
  border:none;
}
