@import "../../styles";

nav {
  background: $medium-blue;
  box-shadow: 0px 0px 5px $light-grey;
  font-family: 'Montserrat', sans-serif;
  height: 70px;
  box-shadow: 0px 0px 10px $dark-grey;
}

nav a {
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

nav a:hover {
  color: $white;
}

.navbar-content {
  margin-top: 7px;
  width: 100vw;
}


.navbar-toggler-icon {
  border:none;
  z-index:99999999;
  margin-top: 5px;
}
