@import "../../styles";

nav {
  background: $white;
  box-shadow: 0px 0px 5px $light-grey;
  font-family: 'Montserrat', sans-serif;
}

nav a {
    color: $light-red;
    font-family: 'Montserrat', sans-serif;
}

nav a:hover {
  color: $light-red;
}


@media screen and (min-width: 990px) {
    app-sidebar {
      display: none;
    }


}

.navbar-toggler {
  border:none;
}
