@import "../../../styles";

.checkbox {
  margin:7px;
}

.button .default-color {
  background-color: $default-color;
}

.card {
  font-size: 0.7rem;
  border: none;
  box-shadow: 0px 0px 5px $light-grey;
  width: 100%;
}

.title {
  font-size: 18px;
  margin: 15px;
}
