@import "../../../styles";

.checkbox {
  margin:7px;
}

.button .default-color {
  background-color: $default-color;
}


.title {
  font-size: 18px;
}

.card {
  padding: 15px;
}

.form {
  margin-top: 5px;
}

.form input {
  border-radius: 0px;
}
