@import "../../../styles";
.tasks {}

.title {
  font-size: 18px;
  margin: 15px;
}

.btn {
  margin: 10px;
  background: transparent;
  padding: 0;
  font-size: 15px;
  text-transform: uppercase;
  color: $medium-blue;  
  font-weight: bolder;
  float: right;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.8;
}

.card {
  display: inline-block;
}

