$default-color: #4db6ac;
$white: #fff;
$light-grey: #eee;
$black: #000;
$default-color-dark: #006064;
$warning-color: #ffcc14;
$grey: #424242;

.default-color {
  background-color: $default-color;
  color: $white;
}
