@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

$default-color: #4db6ac;
$white: #fff;
$light-grey: #eee;
$black: #000;
$default-color-dark: #006064;
$warning-color: #ffcc14;
$dark-grey: #4c4c4c;
$light-red: #dd5555;
$dark-red: #882222;
$medium-grey: #B8B8B8;
$medium-blue: #2196f3;
$light-yellow: #FFEE58;

.btn {
  background-color: $light-red;
  border: none;
}

.nav-link.active {
  background: $light-red;
  color: $white;
}

.nav-link {
  font-weight: 50;
}

a {
  color: $black;
}

.card {
  margin-bottom: 30px;
}
