<div class="contact-card">
  <div class="title">
    TaskManager
  </div>
  O aplicativo TaskManager é um resultado de um laboratório da disciplina Sistemas de Informação I da Universidade Federal de Campina Grande.
  <br>
  Desenvolvido por: Lucas Silva
  <br>
  <a href="http://github.com/lucashsilva" target="blank">Github</a> | <a href="https://github.com/lucashsilva/TaskManager/" target="blank">Repositório</a> | <a href="https://www.linkedin.com/in/lucas-silva-84362010b/" target="blank">Linkedin</a>
  <br>
  Email: lucas.silva@ccc.ufcg.edu.br

</div>
