@import "../../styles";

app-navbar {
  position:fixed;
  top:0px;
  background:$white;
  width:100%;
  z-index:9999;
}

.wrapper {
  position:relative;
  top:60px;
}

app-task-form {
  position:fixed;
  top:65px;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow-y: auto;
}

.btn-floating {
  position:fixed;
  right:15px;
  bottom:15px;
}
