@import "../../../styles";

.task-list {
    background: $white;
    border: 1px dotted $medium-grey;
    border-bottom: 3px solid $medium-grey;
    margin: 5px;
    padding: 5px;
}

.alert {
    margin: 5px;
    margin-bottom: 0;
}

.icons {
    float: right;
}

.icons i {
    display: inline-block;
    cursor: pointer;
}

.list-title {
    float: left;
}